<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="refresh" content="60">
    <title>Todo App</title>
    <style>
      .hidden {
        display: none;
      }
      ul {
        list-style: none;
        padding-left: 0;
        width: 500px;
      }
      li {
        clear: both;
      }
      li button {
        -webkit-appearance: none;
        border: none;
        outline: none;
        color: red;
        float: right;
        cursor: pointer;
        font-size: 16px;
      }
      table {
            table-layout: auto ;
            width: 600px ;
      }
      th,
        td {
        padding: 10px;
        border: solid 1px;
        text-align: left;
      }
      .lists-wrapper, .books-wrapper {
        display: inline-block;
        vertical-align: top;
      }
    </style>
  </head>
  <body>
    <div class="books-wrapper">      
      <h4>BOOKS </h4>
      <form action="/createbook" method="POST" id="book-form">
        <label for="booktitle">Create Book:</label>
        <input id="booktitle" type="text" name="booktitle" placeholder="Book Title"  />
        <input id="bookauthor" type="text" name="bookauthor" placeholder="Book Author"  />
        <button type="submit">Create Book</button>
      </form>
      <div id="error" class="hidden">
        An error occurred, please try again.
      </div>   
          {% for book in books %}
          <table id="bookstable">
           <colgroup>
            <col span="1" style="width: 5%;">
            <col span="1" style="width: 70%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 5%;">
            </colgroup>
            <tr>
            <td><input data-id="{{ book.id }}" class="book-check-completed" type="checkbox" name="complete" id="complete" {% if book.completed %} checked {%endif%} /></td>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td><button class="delete-book" data-id="{{ book.id }}">&cross;</button></td>
          {% endfor %}
    </div>

    <script>
      let deleteBtns;
      const todoCheckboxes = document.querySelectorAll('.book-check-completed');
      for (let i = 0; i < todoCheckboxes.length; i++) {
          const checkbox = todoCheckboxes[i];

          checkbox.onchange = function (e) {
              const newCompleted = e.target.checked;
              const todoId = e.target.dataset.id;

              fetch('/books/' + todoId + '/set-completed', {
                  method: 'POST',
                  body: JSON.stringify({
                      'completed': newCompleted
                  }),
                  headers: {
                      'Content-Type': 'application/json'
                  }
              })
              .then(function (jsonResponse) {
                  document.getElementById('error').className = 'hidden';
              })
              .catch(function () {
                  document.getElementById('error').className = '';
              })
          }
      }
      deleteBtns = document.querySelectorAll(".delete-book");
      for (let i = 0; i < deleteBtns.length; i++) {
        const deleteBtn = deleteBtns[i];
        deleteBtn.onclick = function(e) {
          console.log("Delete event: ", e);
          const todoId = e.target.dataset.id;
          fetch('/books/'+ todoId + '/delete',{
            method: 'DELETE'
          }).then(function() {
            console.log('Parent?', e.target);
            const item = e.target.parentElement;
            item.remove();
              document.getElementById("error").className = "hidden";
            })
            .catch(function(e) {
              console.error(e);
              document.getElementById("error").className = "";
            });
        };
      }
      
      document.getElementById('book-form').onsubmit = function (e) {
        e.preventDefault();
        fetch('/createbook', {
            method: 'POST',
            body: JSON.stringify({
                'booktitle': document.getElementById('booktitle').value,
                'bookauthor': document.getElementById('bookauthor').value
            }),
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(function (response) {
            return response.json();
        })
        .then(function (jsonResponse) {
            const tblrow = document.createElement('TR');
            tblrow.insertCell(0).innerHTML = jsonResponse['bookid'];
            tblrow.insertCell(1).innerHTML = jsonResponse['booktitle'];
            tblrow.insertCell(2).innerHTML = jsonResponse['bookauthor'];
            tblrow.insertCell(3).innerHTML = jsonResponse['bookrating'];
            document.getElementById('bookstable').appendChild(tblrow);
            window.location.reload(true);
        })
        .catch(function () {
            document.getElementById('error').className = '';
        })
      }
    </script>
  </body>
</html>